<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Prince's Theatre</title>
</head>
<body>
    <h1 class="layout-heading">Prince's Theatre</h1>
    <h3 class="layout-subheading">Classic Movies at Home</h3>
    <h5 class="layout-description">Prince’s theatre is a small independent theatre in the inner eastern suburbs of Melbourne. The Prince family has run it for over 50 years. It has a small faithful clientele who love watching niche independent films.</h5>
    <%= yield %>
</body>
</html>