* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

body {
    height: 100%;
    background: linear-gradient(90deg, #fbc4c3 50%, #caebe6 50%);
}

/* Layouts template */

.layout-heading, .layout-subheading, .layout-description {
    width: 65%;
    margin: 1% auto;
    text-align: center;
}

@media screen and (max-width: 890px) {
    .layout-heading, .layout-subheading, .layout-description {
        margin: 5% auto;
        text-align: center;
    }
}

.layout-heading {
    color: floralwhite;
    font-size: 42px;
    box-shadow: 0 0.1px 10px;
    width: 100%;
}

.layout-subheading {
    color: #000000ba;
}

.layout-description {
    color: #0000009c
}

@media screen and (max-width: 890px) {
    .layout-description {
        line-height: 25px;
    }
}

.layout-footer {
    text-align: center;
    margin: 2% auto 1% auto;
}

/* Movies template */

.movie-inner-container {
    width: 65%;
    margin: 1% auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    list-style: none;
    background: #e8e8e8;
    opacity: 0.75;
    border-radius: 15px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}

@media screen and (max-width: 890px) {
    .movie-inner-container {
        grid-template-columns: 1fr;
        margin: 6% auto;
    }
    .movie-actors, .movie-genre, .movie-language {
        display: none;
    }
}

.movie-search-query {
    width: 65%;
    margin: 1% auto;
    border: none;
    border-bottom: 1px solid rgb(43 26 26 / 50%);
    text-align: center;
    display: block;
    padding: 7px;
    opacity: 0.7;
    border-radius: 10px;
}

input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: none;
}

.movie-details-container {
    margin-left: 2%; 
    position: relative;
}

.movie-poster-container {
    display: flex;
    overflow: hidden;
    max-height: 100%;
    border-radius: 15px;
}

.movie-poster {
    width: 100%;
    align-self: center;
    min-height: 350px;
}

.movie-price-container {
    background: white;
    margin: 1%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    width: 95%;
    bottom: 1%;
}

.movie-detailedinfo-container {
    line-height: 155%;
    margin: 2%;
}

.movie-title-container {
    margin: 2%;
}

@media screen and (max-width: 1200px) {
    .movie-plot {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .movie-plot {
        display: none;
    }
}

/* Error template */

.error-message {
    text-align: center;
    color: floralwhite;
    margin: 10% 1% 30% 1%;
}